In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

# Import pandas and read the charity_data.csv from the provided cloud URL.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
# Dropped column "SPECIAL_CONSIDERATIONS" in model 4 optimization attempt.
# The columns "IS_SUCCESSFUL" will be the target value.
application_df = application_df.drop(columns=["EIN", "NAME", "SPECIAL_CONSIDERATIONS"])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE      17
AFFILIATION            6
CLASSIFICATION        71
USE_CASE               5
ORGANIZATION           4
STATUS                 2
INCOME_AMT             9
ASK_AMT             8747
IS_SUCCESSFUL          2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
# Create a new variable to use in the next step, holds the count of each app type.
#print(application_df['APPLICATION_TYPE'].value_counts())
application_counts = application_df["APPLICATION_TYPE"].value_counts()
application_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
# Fill the variable application_type_to_replace, using list() function of app counts less than 100
# in the 7th model attempt, changed the value to < 700.
application_types_to_replace = list(application_counts[application_counts < 700].index)

# Replace in dataframe
# for loop adds the apps from application_types_to_replace together as type "other"
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
Other      804
T8         737
T7         725
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_counts = application_df.CLASSIFICATION.value_counts()
classification_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1248        1
C6100        1
C1820        1
C1900        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#classification_counts[classification_counts > 1]
#classification_counts[classification_counts < 15]
#classification_counts[classification_counts < 20]
#classification_counts[classification_counts < 100]
classification_counts[classification_counts < 1000]
# A steep drop off is present <1000

CLASSIFICATION
C7000    777
C1700    287
C4000    194
C5000    116
C1270    114
        ...
C1248      1
C6100      1
C1820      1
C1900      1
C2150      1
Name: count, Length: 66, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
# using the variable classifications_to_replace use .list() to create a list of the classifications to replace
classifications_to_replace = list(classification_counts[classification_counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies_df = pd.get_dummies(application_df)

In [10]:
# Split our preprocessed data into our features and target arrays
# Use columns "IS SUCCESSFUL" as the target data, y value, all else is the X value
# use .drop() to remove the "IS_SUCCESSFUL" column from the df
X = dummies_df.drop(["IS_SUCCESSFUL"], axis= 'columns').values
# X # Verify the data is correct
y = dummies_df["IS_SUCCESSFUL"].values
# y # Verify the data is correct
# Split the preprocessed data into a training and testing dataset
# use the train_test_split function to create two datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
# The number on input features should equal the length of the dataset
input_features = len(X_train[0])
# Model Attempt 1
# hidden_1 = Tried 50, 80
# hidden_2 = Tried 20, 50

hidden_1 = 80
hidden_2 = 50
#hidden_3 = 5
#input_features
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_1, input_dim = input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_2, activation="relu"))

# Second hidden layer
# nn.add(tf.keras.layers.Dense(units=hidden_3, activation="tanh"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

/usr/local/lib/python3.11/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

 Layer (type)                     Output Shape                  Param #

 dense (Dense)                    (None, 80)                      3,280

 dense_1 (Dense)                  (None, 50)                      4,050

 dense_2 (Dense)                  (None, 1)                          51

 Total params: 7,381 (28.83 KB)

 Trainable params: 7,381 (28.83 KB)

 Non-trainable params: 0 (0.00 B)

In [13]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
# Train the mode
# Attempt 1 & 2 used 100 epochs. Attempt 3 changed to 50. Attempt 4 changed back to 100.
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804  5s 4ms/step - accuracy: 0.7028 - loss: 0.5944
Epoch 2/100
804/804  2s 3ms/step - accuracy: 0.7348 - loss: 0.5536
Epoch 3/100
804/804  2s 2ms/step - accuracy: 0.7332 - loss: 0.5503
Epoch 4/100
804/804  3s 2ms/step - accuracy: 0.7290 - loss: 0.5507
Epoch 5/100
804/804  3s 2ms/step - accuracy: 0.7339 - loss: 0.5482
Epoch 6/100
804/804  4s 3ms/step - accuracy: 0.7296 - loss: 0.5509
Epoch 7/100
804/804  4s 2ms/step - accuracy: 0.7344 - loss: 0.5499
Epoch 8/100
804/804  2s 2ms/step - accuracy: 0.7370 - loss: 0.5423
Epoch 9/100
804/804  3s 2ms/step - accuracy: 0.7400 - loss: 0.5425
Epoch 10/100
804/804  3s 4ms/step - accuracy: 0.7375 - loss: 0.5431
Epoch 11/100
804/804  4s 2ms/step - accuracy: 0.7363 - loss: 0.5433
Epoch 12/100
804/804  2s 2ms/step - accuracy: 0.7311 - loss: 0.5456
Epoch 13/100
804/804  2s 2ms/step - accuracy: 0.7335 - loss: 0.5456
Epoch 14/100
804/804  3s 3ms/step - accuracy: 0.7384 - loss: 0.5414
Epoch 15/100
804/804  2s 3ms/step - accuracy: 0.7409 - loss: 0.5388
Epoch 16/100
804/804  2s 2ms/step - accuracy: 0.7394 - loss: 0.5393
Epoch 17/100
804/804  2s 2ms/step - accuracy: 0.7349 - loss: 0.5419
Epoch 18/100
804/804  3s 2ms/step - accuracy: 0.7389 - loss: 0.5442
Epoch 19/100
804/804  3s 2ms/step - accuracy: 0.7368 - loss: 0.5440
Epoch 20/100
804/804  3s 3ms/step - accuracy: 0.7392 - loss: 0.5419
Epoch 21/100
804/804  2s 2ms/step - accuracy: 0.7390 - loss: 0.5389
Epoch 22/100
804/804  3s 2ms/step - accuracy: 0.7367 - loss: 0.5426
Epoch 23/100
804/804  2s 2ms/step - accuracy: 0.7371 - loss: 0.5412
Epoch 24/100
804/804  2s 2ms/step - accuracy: 0.7349 - loss: 0.5428
Epoch 25/100
804/804  3s 3ms/step - accuracy: 0.7392 - loss: 0.5405
Epoch 26/100
804/804  2s 2ms/step - accuracy: 0.7383 - loss: 0.5423
Epoch 27/100
804/804  3s 2ms/step - accuracy: 0.7345 - loss: 0.5466
Epoch 28/100
804/804  2s 2ms/step - accuracy: 0.7370 - loss: 0.5411
Epoch 29/100
804/804  2s 2ms/step - accuracy: 0.7350 - loss: 0.5420
Epoch 30/100
804/804  2s 3ms/step - accuracy: 0.7378 - loss: 0.5409
Epoch 31/100
804/804  2s 2ms/step - accuracy: 0.7364 - loss: 0.5427
Epoch 32/100
804/804  2s 2ms/step - accuracy: 0.7401 - loss: 0.5384
Epoch 33/100
804/804  3s 2ms/step - accuracy: 0.7340 - loss: 0.5451
Epoch 34/100
804/804  3s 2ms/step - accuracy: 0.7347 - loss: 0.5434
Epoch 35/100
804/804  2s 2ms/step - accuracy: 0.7361 - loss: 0.5412
Epoch 36/100
804/804  3s 3ms/step - accuracy: 0.7409 - loss: 0.5384
Epoch 37/100
804/804  2s 2ms/step - accuracy: 0.7401 - loss: 0.5363
Epoch 38/100
804/804  2s 2ms/step - accuracy: 0.7364 - loss: 0.5436
Epoch 39/100
804/804  3s 2ms/step - accuracy: 0.7384 - loss: 0.5374
Epoch 40/100
804/804  2s 3ms/step - accuracy: 0.7412 - loss: 0.5373
Epoch 41/100
804/804  3s 3ms/step - accuracy: 0.7350 - loss: 0.5418
Epoch 42/100
804/804  2s 3ms/step - accuracy: 0.7382 - loss: 0.5378
Epoch 43/100
804/804  2s 2ms/step - accuracy: 0.7424 - loss: 0.5369
Epoch 44/100
804/804  2s 2ms/step - accuracy: 0.7380 - loss: 0.5397
Epoch 45/100
804/804  2s 2ms/step - accuracy: 0.7352 - loss: 0.5427
Epoch 46/100
804/804  4s 4ms/step - accuracy: 0.7380 - loss: 0.5397
Epoch 47/100
804/804  4s 2ms/step - accuracy: 0.7392 - loss: 0.5403
Epoch 48/100
804/804  2s 2ms/step - accuracy: 0.7421 - loss: 0.5308
Epoch 49/100
804/804  2s 2ms/step - accuracy: 0.7401 - loss: 0.5372
Epoch 50/100
804/804  2s 2ms/step - accuracy: 0.7445 - loss: 0.5329
Epoch 51/100
804/804  4s 4ms/step - accuracy: 0.7437 - loss: 0.5325
Epoch 52/100
804/804  4s 2ms/step - accuracy: 0.7442 - loss: 0.5334
Epoch 53/100
804/804  3s 2ms/step - accuracy: 0.7382 - loss: 0.5384
Epoch 54/100
804/804  2s 2ms/step - accuracy: 0.7385 - loss: 0.5374
Epoch 55/100
804/804  3s 3ms/step - accuracy: 0.7427 - loss: 0.5355
Epoch 56/100
804/804  2s 3ms/step - accuracy: 0.7394 - loss: 0.5374
Epoch 57/100
804/804  2s 2ms/step - accuracy: 0.7397 - loss: 0.5376
Epoch 58/100
804/804  3s 2ms/step - accuracy: 0.7349 - loss: 0.5422
Epoch 59/100
804/804  2s 2ms/step - accuracy: 0.7441 - loss: 0.5337
Epoch 60/100
804/804  3s 2ms/step - accuracy: 0.7403 - loss: 0.5372
Epoch 61/100
804/804  3s 3ms/step - accuracy: 0.7426 - loss: 0.5350
Epoch 62/100
804/804  2s 2ms/step - accuracy: 0.7400 - loss: 0.5364
Epoch 63/100
804/804  2s 2ms/step - accuracy: 0.7384 - loss: 0.5391
Epoch 64/100
804/804  3s 2ms/step - accuracy: 0.7396 - loss: 0.5368
Epoch 65/100
804/804  2s 2ms/step - accuracy: 0.7399 - loss: 0.5364
Epoch 66/100
804/804  3s 4ms/step - accuracy: 0.7443 - loss: 0.5324
Epoch 67/100
804/804  4s 2ms/step - accuracy: 0.7414 - loss: 0.5362
Epoch 68/100
804/804  3s 2ms/step - accuracy: 0.7429 - loss: 0.5349
Epoch 69/100
804/804  3s 2ms/step - accuracy: 0.7415 - loss: 0.5351
Epoch 70/100
804/804  2s 3ms/step - accuracy: 0.7417 - loss: 0.5334
Epoch 71/100
804/804  3s 3ms/step - accuracy: 0.7456 - loss: 0.5317
Epoch 72/100
804/804  2s 2ms/step - accuracy: 0.7403 - loss: 0.5365
Epoch 73/100
804/804  3s 2ms/step - accuracy: 0.7428 - loss: 0.5333
Epoch 74/100
804/804  2s 2ms/step - accuracy: 0.7366 - loss: 0.5397
Epoch 75/100
804/804  3s 3ms/step - accuracy: 0.7424 - loss: 0.5334
Epoch 76/100
804/804  2s 3ms/step - accuracy: 0.7416 - loss: 0.5344
Epoch 77/100
804/804  2s 2ms/step - accuracy: 0.7381 - loss: 0.5361
Epoch 78/100
804/804  3s 2ms/step - accuracy: 0.7366 - loss: 0.5381
Epoch 79/100
804/804  2s 2ms/step - accuracy: 0.7363 - loss: 0.5397
Epoch 80/100
804/804  3s 2ms/step - accuracy: 0.7414 - loss: 0.5336
Epoch 81/100
804/804  4s 3ms/step - accuracy: 0.7405 - loss: 0.5366
Epoch 82/100
804/804  4s 2ms/step - accuracy: 0.7409 - loss: 0.5353
Epoch 83/100
804/804  3s 2ms/step - accuracy: 0.7380 - loss: 0.5401
Epoch 84/100
804/804  3s 2ms/step - accuracy: 0.7456 - loss: 0.5313
Epoch 85/100
804/804  3s 4ms/step - accuracy: 0.7413 - loss: 0.5310
Epoch 86/100
804/804  2s 2ms/step - accuracy: 0.7406 - loss: 0.5361
Epoch 87/100
804/804  3s 2ms/step - accuracy: 0.7418 - loss: 0.5329
Epoch 88/100
804/804  3s 2ms/step - accuracy: 0.7381 - loss: 0.5374
Epoch 89/100
804/804  3s 2ms/step - accuracy: 0.7353 - loss: 0.5440
Epoch 90/100
804/804  3s 3ms/step - accuracy: 0.7429 - loss: 0.5334
Epoch 91/100
804/804  4s 2ms/step - accuracy: 0.7404 - loss: 0.5351
Epoch 92/100
804/804  2s 2ms/step - accuracy: 0.7435 - loss: 0.5309
Epoch 93/100
804/804  3s 2ms/step - accuracy: 0.7398 - loss: 0.5374
Epoch 94/100
804/804  3s 3ms/step - accuracy: 0.7422 - loss: 0.5347
Epoch 95/100
804/804  2s 2ms/step - accuracy: 0.7432 - loss: 0.5347
Epoch 96/100
804/804  3s 2ms/step - accuracy: 0.7434 - loss: 0.5335
Epoch 97/100
804/804  2s 2ms/step - accuracy: 0.7420 - loss: 0.5364
Epoch 98/100
804/804  3s 2ms/step - accuracy: 0.7392 - loss: 0.5353
Epoch 99/100
804/804  3s 3ms/step - accuracy: 0.7378 - loss: 0.5381
Epoch 100/100
804/804  4s 2ms/step - accuracy: 0.7394 - loss: 0.5342

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 2s - 7ms/step - accuracy: 0.7257 - loss: 0.5589
Loss: 0.5588862299919128, Accuracy: 0.7257142663002014

In [16]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.